@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root{
    --colorMain: hsl(0, 0%, 100%);
    --Stone100: hsl(30, 54%, 90%);
    --colorHr: hsl(30, 18%, 87%);
    --colorParagraph: hsl(30, 10%, 34%);
    --colorSpan: hsl(24, 5%, 18%);
    --colorTitles: hsl(14, 45%, 36%);
    --Rose800: hsl(332, 51%, 32%);
    --colorBackground: hsl(29, 53%, 90%);
    --colorBackground2: hsl(330, 100%, 98%);
}

hr{
    background-color: var(--colorHr);
}

body{
    background-color: var(--colorBackground);
    height: auto;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

main{
    background-color: var(--colorMain);
    width: 100%;
    max-width: 720px;
    border-radius: 15px;
}
.ingredients, .instructions{
    border-bottom: 2px solid var(--colorHr);
}

section{
    /* p,li{
        padding-right: 20px;
    } */
    h1, h2{
        font-family: "Young Serif";
        font-weight: normal;
    }
    p, span,h3,li{
        font-family:"Outfit" ;
        font-size: 16px;
        color: var(--colorParagraph);
    }
    h2,h3{
        color: var(--colorTitles);
    }
    ul, ol{
        margin-inline-start: -16px;
        margin-right: 10px ;
    }
    li{
        margin-bottom: 10px;
        padding-left: 12px;
    }
    li::marker{
        color: var(--colorTitles);
        font-weight: 800;
    }
    span{
        font-weight: 800;
        color: var(--colorSpan);
    }
}

section:not(:first-child){
    margin: 32px 30px ;
    padding-bottom: 20px;
}

.recipe{
    .recipe-img{
        width: 100%;
        border-radius: 10px;
        padding: 0;
    }
    h1{
        font-size:  30px;
    }

    h1, p, .recipe-preparation-time{
        margin: 30px 30px 15px 30px ;
    }

    .recipe-preparation-time{
        background-color: var(--colorBackground2);
        padding: 8px 15px;
        border-radius: 8px;
        margin: auto;
        width: 80%;
    }
}

.nutrition-table{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-bottom: 5px;
    font-weight: 500;
    p{
        margin-left: 30px;
    }
    span{
        color: var(--colorTitles);
        text-align: start;
    }
}

.nutrition-table:not(:last-child){
    border-bottom: 2px solid var(--colorHr);
}

@media (min-width: 470px) {
    body{
        padding: 50px;
    }
    .recipe{
        h1,p{
            margin-top: 0;
        }
        h1{
            margin-top: 10px;
        }
        h3{
            font-size: 20px;
        }
    }
}

@media (min-width: 600px){
    .recipe{
        .img-content{
            padding: 33px;
        }
        h1{
            margin-top: 0px;
        }
    }
    main{
        padding: 10px;
    }
}


