@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root{
    --colorMain: hsl(0, 0%, 100%);
    --Stone100: hsl(30, 54%, 90%);
    --colorHr: hsl(30, 18%, 87%);
    --colorParagraph: hsl(30, 10%, 34%);
    --colorSpan: hsl(24, 5%, 18%);
    --colorTitles: hsl(14, 45%, 36%);
    --Rose800: hsl(332, 51%, 32%);
    --colorBackground: hsl(29, 53%, 90%);
    --colorBackground2: hsl(330, 100%, 98%);
}

body{
    background-color: var(--colorBackground);
    height: auto;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family:"Outfit"
}

main{
    background-color: var(--colorMain);
    width: 100%;
    max-width: 660px;
    border-radius: 15px;
    .recipe-img{
        width: 100%;
        border-radius: 10px;
        padding: 0;
    }
}

section{
    margin: 32px;
    padding-bottom: 5px;
    h1{
        font-size:  38px;
        margin-bottom: 0;
    }
    h1, h2{
        font-family: "Young Serif";
        font-weight: normal;
    }
    p, span,li{
        font-size: 16px;
        color: var(--colorParagraph);
        line-height: 21px;
    }
    h2,h3{
        color: var(--colorTitles);
    }
    h3{
        font-size: 20px;
    }
    ul, ol{
        margin-inline-start: -16px;
        margin-right: 10px ;
    }
    li{
        margin-bottom: 11px;
        padding-left: 12px;
    }
    li::marker{
        color: var(--colorTitles);
    }
    span, li::marker{
        font-weight: 800;
    }
    .span-bold, h1{
        color: var(--colorSpan);
    }
}


.recipe{
    .recipe-preparation-time{
        background-color: var(--colorBackground2);
        padding: 8px 15px;
        border-radius: 8px;
        margin: auto;
        margin-top: 30px;
        min-width: 72%;
        max-width: 90%;
    }
}

.ingredients, .instructions{
    border-bottom: 2px solid var(--colorHr);
}

.nutrition-table{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-weight: 500;
    p{
        margin-left: 30px;
    }
    .grams-table{
        color: var(--colorTitles);
    }
}

.nutrition-table:not(:last-child){
    border-bottom: 2px solid var(--colorHr);
}

@media (min-width: 500px) {
    section{
        margin: 8px 30px 8px 30px;
        
    }
    body{
        padding: 50px;
    }
}

@media (min-width: 600px){
    main{
        padding: 38px;
        section{
            margin: 0;
            padding: 5px;
            h1{
                font-size: 40px ;
            }
            h2{
                font-size: 27px;
            }
            p, span{
                font-size: 16.5px;
            }
        }
    }
}


